.album_info {
	float: left;
	width: 400px;
	padding-right: 20px;
	padding-bottom: 50px;
}

.track_info {
	margin-left: 400px;
	padding-top: 50px;
	text-align: center;
	padding-bottom: 50px;
}

.tracks {
	display: table-cell;
}