.album_info {
	float: left;
	width: 380px;
	padding-right: 20px;
	padding-bottom: 50px;
	font: normal 11pt/36px "Noticia text", Serif;
}

.track_info {
	margin-left: 400px;
	text-align: center;
	padding-bottom: 50px;
}

.tracks {
	display: table-cell;
}

#track-list {
	background: #fff url(../images/bg.png);
	border: 1px solid #D5D5D7;
}

.accordion-content {
	border: 1px solid #D5D5D7;
	font: normal 12pt/120% "Noticia text", Serif;
	padding-top: 15px;
	padding-bottom: 15px;
}

.accordion-content hr {
	width: 50%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

span.unknown {
	display: block;
	text-decoration: underline;
	font-style: oblique;
	-webkit-transform: skewx(15deg);
	-moz-transform: skewx(15deg);
	-o-transform: skewx(15deg);
	transform: skewx(15deg);
}